@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

/* RESET AND NORMALISE----------------------------------------
 ------------------------------------------------------------*/
html {
  line-height: 1.1;
  -webkit-text-size-adjust: 100%;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #353E44
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h4{
  font-size: 1.125rem;
}
a {
  background-color: transparent;
}
img {
  border-style: none;
}

[hidden] {
  display: none;
}




/* DEFAULT STYLES MOBILE--------------------------------------
 ------------------------------------------------------------*/


.listing{
  padding-right: 1rem;
  padding-left: 1rem;
  list-style: none;
}
.listing > li{
  margin-bottom: 1rem;
}
.property-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: .875rem;
  line-height: 1.3rem;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
  border-radius: 5px;
}
.property-card .property-link {
  width: 100%;
  display: block;
  color: inherit;
  text-decoration: none;
}
.property-card .property-link:hover {
  cursor: pointer;
}

.property-card__image {
  height: 248px;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.property-card__image img {
  width: 100%;
}
.property-card__details {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.property-card__features {
  list-style: none;
  padding-left: 0;
  margin-top: .25rem;
  margin-bottom: .25rem;
}
.property-card__features .feature {
  display:inline-block;
}
.property-card__features .feature:not(:last-child):after {
  content: "\B7";
  display:inline-block;
  font-weight: 400;
  margin-right: .25rem;
  margin-left: .25rem;
}
.property-card .property-card__price strong{
  font-size: 1.125rem;
}
.property-card__price small{
  font-size: .875rem;
  font-weight: 400;
}

.property-card__rating.rating--good{
  color: #008751;
}
.property-card__rating.rating--bad{
  color: #ffd700;
}
.property-card__footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.property-card__reviews{
  display: flex;
  align-items: center;
}

.reviews-rating-stars{
  margin-right: .5rem;
  height: 15px;
  display: block;
}

.carousel{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carousel svg{
  display: inline-block;
  fill: #fff;
  width: 16px;
  height: 24px;
  filter: drop-shadow( 1px 0px 3px rgba(0, 0, 0, .5));
}

.carousel button{
  background-color: transparent;
  border: 0;
}
.carousel button:hover{
  cursor: pointer;
}
.carousel .carousel--previous{
  margin-left: 1.25rem;
}
.carousel .carousel--next{
  margin-right: 1.25rem;
}



/* SIMPLE CARD------------------------------------
 ---------------------------------------------------*/
.property-card.property-card--simple h4,
.property-card.property-card--simple .property-card__rating{
  display: none;
}
.property-card.property-card--simple .property-card__rating{
  flex: unset;
}


/* DESKTOP STYLES ---------------------------------------------
 ------------------------------------------------------------*/

@media screen and (min-width:651px) {
  .property-card {
    flex-wrap: nowrap;
    max-width: 800px;
    font-size: 1rem;
  }
  .property-card__title{
    width: 100%;
  }

  .property-card__title h4{
    /*not doing this as design was showing 2 lines*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*max-height: 2.6rem;*/
    line-height: 1.5rem;
  }
  .property-card__features{
    display: flex;
  }

  .property-card__features .feature{
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    text-align: center;
  }
  .property-card__features .counter{
    font-weight: 700;
    margin-top: .25rem;
  }
  .property-card__features .feature:first-child{
    padding-left: 0;
  }
  .property-card__features .feature:not(:last-child):after {
    content: '|';
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .property-card__features .counter{
    display: block;
  }

  .property-card__image {
    min-width: 295px;
    max-width: 310px;
  }
  .property-card__details {
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    min-width: 282px;
  }

  .property-card__footer{
     flex-wrap: wrap;
  }

  .reviews-number{
    font-size: .875rem;
  }

  .property-card__rating{
    font-size: .875rem;
    flex: 1 0 100%;
    margin-bottom: .25rem;
  }

  .property-card.property-card--simple .property-card__details {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
  }



  .property-card.property-card--simple h4,
  .property-card.property-card--simple .property-card__rating{
    display: block;
  }
  .property-card.property-card--simple .property-card__features,
  .property-card.property-card--simple .property-card__rating{
    width: 100%;
  }

  .property-card.property-card--simple .property-card__features{
    order: 1;
  }
  .property-card.property-card--simple .property-card__rating{
    order: 2;
    margin-bottom: -1rem;
  }
  .property-card.property-card--simple .property-card__price{
    order: 3;
  }
  .property-card.property-card--simple .property-card__reviews{
    order: 4;
  }

  .property-card.property-card--simple .property-card__price strong{
    font-size: 1.125rem;
  }

}